* {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
}

form {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 80px;
}

div {
  padding: 3px;
  border: 2px solid navy;
  width: 170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  color: red;
}

