<div class="register-main">
  <h2>UsersAPI Registration</h2>
  <form [formGroup]="form" (ngSubmit)="userRegistration(form)">
    <div class="field-div">
      <div class="flexWrapper">
        <div>Name:</div> <input [formControl]="name">
      </div>
      <h4 *ngIf="form.controls.name.errors?.maxlength">You exceeded max name length (20)</h4>
    </div>
    <div class="field-div">
      <div class="flexWrapper">
        <div>Surname:</div> <input [formControl]="surname">
      </div>
      <h4 *ngIf="form.controls.surname.errors?.maxlength">You exceeded max surname length (20)</h4>
    </div>
    <div class="field-div">
      <div class="flexWrapper">
        <div>Login:</div> <input [formControl]="login">
      </div>
      <h4 *ngIf="form.controls.login.errors?.maxlength">You exceeded max login length (15)</h4>
    </div>
    <div class="field-div">
      <div class="flexWrapper">
        <div>Password:</div> <input [formControl]="password">
      </div>
      <h4 *ngIf="form.controls.password.errors?.maxlength">You exceeded max password length (15)</h4>
    </div>
    <button [disabled]="form.invalid">Register</button>
  </form>
  <a>
    <button id="signInButton" (click)="navigateToLogin()">Sign in</button>
  </a>
</div>
