<header>
  <h2>UserAPI</h2>
  <div class="flexWrapper">
    <h3>Authorized user: {{authUser.name}} {{authUser.surname}}</h3>
    <button mat-icon-button (click)="userLogOut()">
      <span>Log out</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
</header>
<main>
  <div [class.all-users]="true" [class.wid74]="editing">
    <h2>All users</h2>
    <app-user *ngFor="let user of users" [user]="user" (upEdit)="changeEditing($event)" (upDeleted)="userDeleted()"></app-user>
  </div>
  <div [class.all-users]="editing" [class.wid24]="editing">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
</footer>
