.flexWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 3px;
  padding: 2px;
  width: 100%;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}
