<h2>Edit user</h2>
<div>
  <form [formGroup]="form" (ngSubmit)="saveChanges(form)">
    <div class="field-div">
      <div class="flexWrapper">
        <div>Name:</div> <input [formControl]="name">
      </div>
      <h4 *ngIf="form.controls.name.errors?.maxlength">You exceeded max name length (20)</h4>
    </div>
    <div class="field-div">
      <div class="flexWrapper">
        <div>Surname:</div> <input [formControl]="surname">
      </div>
      <h4 *ngIf="form.controls.surname.errors?.maxlength">You exceeded max surname length (20)</h4>
    </div>
    <div class="field-div">
      <div class="flexWrapper">
        <div>Login:</div> <input [formControl]="login">
      </div>
      <h4 *ngIf="form.controls.login.errors?.maxlength">You exceeded max login length (15)</h4>
    </div>
    <div class="field-div">
      <div class="flexWrapper">
        <div>Password:</div> <input [formControl]="password">
      </div>
      <h4 *ngIf="form.controls.password.errors?.maxlength">You exceeded max password length (15)</h4>
    </div>
    <button class="save-button">Save changes</button>
  </form>
</div>
